server {
    listen 80;
    listen [::]:80;
    server_name  joomla.sa;
    root {{ joomla_dir }};
    index index.php index.html index.htm;

    access_log /var/log/nginx/joomla.sa_access_log;
    error_log /var/log/nginx/joomla.sa_error_log;

    client_max_body_size 100M;
    autoindex off;
    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    # deny running scripts inside writable directories
    location ~* /(images|cache|media|logs|tmp)/.*.(php|pl|py|jsp|asp|sh|cgi)$ {
      return 403;
      error_page 403 /403_error.html;
    }

    location ~ .php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php7.4-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
}
